html {
	height: 100%;
	width :  100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	height     : 100%;
	margin     : 0;
	width      : 100%;
}

.container, #app {
	height: 100%;
	width :  100%;
}

.home-container {
	align-items    : center;
	background-size: cover;
	display        : flex;
	flex-direction : column;
	height         : 100%;
	justify-content: center;
	width          : 100%;
}

.header-bar {
	background-color: #FC6C43;
	color           : #FFF;
	display         : flex;
	justify-content : space-between;
	padding         : 5px;
}

.header {
	color        : #FFF;
	font-size    : 45px;
	font-weight  : 100;
	margin-bottom: 30px;
}

.search-box-container {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	justify-content: center;
}

.form-control {
	-o-transition     : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

	border            : 1px solid #CCC;
	border-radius     : 4px;
	box-shadow        : inset 0 1px 1px rgba(0,0,0,.075);
	color             : #555;
	font-size         : 14px;
	height            : 34px;
	line-height       : 1.5;
	padding           : 6px 12px;
	transition        : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width             : 100%;
}

.btn {
	background-color: #5CB85C;
	border          : 1px solid transparent;
	border-radius   : 4px;
	color           : #FFF;
	cursor          : pointer;
	font-size       : 14px;
	font-weight     : 400;
	line-height     : 1.5;
	margin          : 10px;
	padding         : 6px 12px;
	white-space     : nowrap
}

/* Loading Component */

.loading {
	font-size : 35px;
	text-align: center;
}

/* Forecast Component */
.forecast-container {
	align-items    : center;
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
	justify-content: space-evenly;
	margin         : 50px auto;
	max-width      : 1200px;
}

.dayContainer {
	align-items    : center;
	cursor         : pointer;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	margin         : 35px;
}

.forecast-header {
	color      : #333;
	font-size  : 65px;
	font-weight: 100;
	text-align : center;
}

.subheader {
	color      : #333;
	font-size  : 30px;
	font-weight: 100;
}

.weather {
	height: 130px;
}

.description-container {
	font-size  : 34px;
	font-weight: 100;
	margin     : 0 auto;
	max-width  : 400px;
	text-align : center;
}